.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  button{
    color: white;
    background-color: black;
    border-radius: 11px;
    padding: 10px 26px;
    margin: 12px;
    font-weight: 600;
    
  }
  input{
    padding: 9px;
    border-radius: 8px;
    margin: 7px;
  }
  label{
    font-weight: 700;
    padding: 10px;
    
  }
  .address{
   padding: 10px;
   margin: 10px;
  
  }